.top {
    background-color: #1F2937;
}

.header h1 {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}


.main h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.top p {
    font-size: 18px;
    color: #E5E7EB;
}

.plans h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.plans p {
    font-size: 18px;
    color: #5B5C5E;
}

.plans img {
    border: 4px;
    border-color: #3882F6;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
}

.quote {
    background-color: #E5E7EB;
}

.quote #qText {
    font-size: 36px;
    font-style: italic;
    color: #1F2937
}

.quote #author {
    font-size: 28px;
    font-weight: bold;
    color: #1F2937;
}

#joinBox {
    background-color: #3882F6;
}

ul {
    list-style-type: none;
}

body {
    margin: 0px; /*Makes boxes reach edges of page*/
}

/*Flexbox*/
.top {
    display:flex;
    
}
.header{
    justify-content:space-around;
    align-items: center;
}

.links{
    display:flex;
    gap: 20px;
}

.main {
    justify-content: space-around;
    align-items: center;
}

#firstImg {
    width: 500px;
    height: 250px;
}


.main div {
    width: 500px;
    height: 250px;
    padding: 50px;
}

.main .box2 {
    align-self: flex-end;
    
}
.plans {
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}

.plans img{
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 20px;

    border: 5px solid #3882F6; /*Adds coloured, visibile border around image*/
}

.info h1, .info p {
    text-align: center;
}

.info p {
    width: 150px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:5rem;
}

.quote div {
    width: 40%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 60px;
    margin-bottom: 0px;
    padding: 0px;
}

#author {
    align-self:flex-end;
    margin-right: 20%;
    margin-top: 0px;
    padding: 0px;
}

.conversions {
    margin: 5rem;
    margin-left: 10%;
    margin-right: 10%;
}

#joinBox {
    padding: 5rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

#joinBox p {
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 5%;

}

#head {
    color: white;
    font-weight: bold;
    font-size: 24px;
}